<div class="card">
    <div class="card-header">
        <p class="card-header-title">Overview</p>
    </div>
    <div class="card-content">
        <nav class="level">

            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Sequence Counts</p>
                    <p class="title">{{sequenceCount}}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Request Since Launch</p>
                    <p class="title">{{requestCount}}</p>
                </div>
            </div>
        </nav>
        <div class="hint">
            Select or Create a Sequence to start
        </div>
    </div>
</div>